<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbpp.my12306.mapper.CityMapper">
    <resultMap id="BaseResultMap" type="com.dbpp.my12306.entity.City">
        <id column="city_id" property="cityId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        city_id, name, province
    </sql>

    <select id="select" resultType="com.dbpp.my12306.entity.City">
        select
        <include refid="Base_Column_List"/>
        from cities
        <where>
            <if test="cityId != null">city_id = #{cityId}</if>
            <if test="cityName != null">and name = #{cityName}</if>
            <if test="province != null">and province = #{province}</if>
        </where>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from cities
        where city_id = #{cityId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from cities
        where city_id = #{cityId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.dbpp.my12306.entity.City" useGeneratedKeys="true" keyProperty="cityId"
            keyColumn="city_id">
        insert into cities (name, province)
        values (#{name,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.dbpp.my12306.entity.City">
        <selectKey resultType="java.lang.Integer" keyProperty="cityId" order="AFTER">
            Postgres
        </selectKey>
        insert into cities
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="province != null">
                province,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dbpp.my12306.entity.City">
        update cities
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
        </set>
        where city_id = #{cityId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dbpp.my12306.entity.City">
        update cities
        set name     = #{name,jdbcType=VARCHAR},
            province = #{province,jdbcType=VARCHAR}
        where city_id = #{cityId,jdbcType=INTEGER}
    </update>

    <delete id="deleteByName">
        delete
        from cities
        where name = #{name}
    </delete>
</mapper>