<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbpp.my12306.mapper.RouteScheduleMapper" >
  <resultMap id="BaseResultMap" type="com.dbpp.my12306.entity.RouteSchedule" >
    <id column="route_id" property="routeId" jdbcType="BIGINT" />
    <result column="train_code" property="trainCode" jdbcType="VARCHAR" />
    <result column="train_no" property="trainNo" jdbcType="CHAR" />
    <result column="depart_date" property="departDate" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    route_id, train_code, train_no, depart_date, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from route_schedule
    where route_id = #{routeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from route_schedule
    where route_id = #{routeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dbpp.my12306.entity.RouteSchedule" >
    <selectKey resultType="java.lang.Long" keyProperty="routeId" order="AFTER" >
      Postgres
    </selectKey>
    insert into route_schedule (train_code, train_no, depart_date, 
      status)
    values (#{trainCode,jdbcType=VARCHAR}, #{trainNo,jdbcType=CHAR}, #{departDate,jdbcType=DATE}, 
      #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dbpp.my12306.entity.RouteSchedule" >
    <selectKey resultType="java.lang.Long" keyProperty="routeId" order="AFTER" >
      Postgres
    </selectKey>
    insert into route_schedule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="trainCode != null" >
        train_code,
      </if>
      <if test="trainNo != null" >
        train_no,
      </if>
      <if test="departDate != null" >
        depart_date,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="trainCode != null" >
        #{trainCode,jdbcType=VARCHAR},
      </if>
      <if test="trainNo != null" >
        #{trainNo,jdbcType=CHAR},
      </if>
      <if test="departDate != null" >
        #{departDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dbpp.my12306.entity.RouteSchedule" >
    update route_schedule
    <set >
      <if test="trainCode != null" >
        train_code = #{trainCode,jdbcType=VARCHAR},
      </if>
      <if test="trainNo != null" >
        train_no = #{trainNo,jdbcType=CHAR},
      </if>
      <if test="departDate != null" >
        depart_date = #{departDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where route_id = #{routeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dbpp.my12306.entity.RouteSchedule" >
    update route_schedule
    set train_code = #{trainCode,jdbcType=VARCHAR},
      train_no = #{trainNo,jdbcType=CHAR},
      depart_date = #{departDate,jdbcType=DATE},
      status = #{status,jdbcType=CHAR}
    where route_id = #{routeId,jdbcType=BIGINT}
  </update>
</mapper>