<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbpp.my12306.mapper.TimeDetailMapper">
  <resultMap id="BaseResultMap" type="com.dbpp.my12306.entity.TimeDetail">
    <id column="time_detail_id" jdbcType="INTEGER" property="timeDetailId" />
    <result column="train_code" jdbcType="VARCHAR" property="trainCode" />
    <result column="station_id" jdbcType="INTEGER" property="stationId" />
    <result column="station_index" jdbcType="INTEGER" property="stationIndex" />
    <result column="arrive_time" jdbcType="TIME" property="arriveTime" />
    <result column="leave_time" jdbcType="TIME" property="leaveTime" />
    <result column="runtime" jdbcType="OTHER" property="runtime" />
    <result column="mileage" jdbcType="INTEGER" property="mileage" />
  </resultMap>
  <sql id="Base_Column_List">
    time_detail_id, train_code, station_id, station_index, arrive_time, leave_time, runtime, 
    mileage
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from time_details
    where time_detail_id = #{timeDetailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from time_details
    where time_detail_id = #{timeDetailId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dbpp.my12306.entity.TimeDetail"
          useGeneratedKeys="true" keyProperty="timeDetailId" keyColumn="time_detail_id">
    insert into time_details (train_code, station_id, station_index, 
      arrive_time, leave_time, runtime, 
      mileage)
    values (#{trainCode,jdbcType=VARCHAR}, #{stationId,jdbcType=INTEGER}, #{stationIndex,jdbcType=INTEGER}, 
      #{arriveTime,jdbcType=VARCHAR}::time, #{leaveTime,jdbcType=VARCHAR}::time, #{runtime,jdbcType=OTHER}::interval,
      #{mileage,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dbpp.my12306.entity.TimeDetail"
          useGeneratedKeys="true" keyProperty="timeDetailId" keyColumn="time_detail_id">
    insert into time_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="trainCode != null">
        train_code,
      </if>
      <if test="stationId != null">
        station_id,
      </if>
      <if test="stationIndex != null">
        station_index,
      </if>
      <if test="arriveTime != null">
        arrive_time,
      </if>
      <if test="leaveTime != null">
        leave_time,
      </if>
      <if test="runtime != null">
        runtime,
      </if>
      <if test="mileage != null">
        mileage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="trainCode != null">
        #{trainCode,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null">
        #{stationId,jdbcType=INTEGER},
      </if>
      <if test="stationIndex != null">
        #{stationIndex,jdbcType=INTEGER},
      </if>
      <if test="arriveTime != null">
        #{arriveTime,jdbcType=TIME},
      </if>
      <if test="leaveTime != null">
        #{leaveTime,jdbcType=TIME},
      </if>
      <if test="runtime != null">
        #{runtime,jdbcType=OTHER},
      </if>
      <if test="mileage != null">
        #{mileage,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dbpp.my12306.entity.TimeDetail">
    update time_details
    <set>
      <if test="trainCode != null">
        train_code = #{trainCode,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null">
        station_id = #{stationId,jdbcType=INTEGER},
      </if>
      <if test="stationIndex != null">
        station_index = #{stationIndex,jdbcType=INTEGER},
      </if>
      <if test="arriveTime != null">
        arrive_time = #{arriveTime,jdbcType=TIME}::time,
      </if>
      <if test="leaveTime != null">
        leave_time = #{leaveTime,jdbcType=TIME}::time,
      </if>
      <if test="runtime != null">
        runtime = #{runtime,jdbcType=OTHER}::interval,
      </if>
      <if test="mileage != null">
        mileage = #{mileage,jdbcType=INTEGER},
      </if>
    </set>
    where time_detail_id = #{timeDetailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dbpp.my12306.entity.TimeDetail">
    update time_details
    set train_code = #{trainCode,jdbcType=VARCHAR},
      station_id = #{stationId,jdbcType=INTEGER},
      station_index = #{stationIndex,jdbcType=INTEGER},
      arrive_time = #{arriveTime,jdbcType=TIME},
      leave_time = #{leaveTime,jdbcType=TIME},
      runtime = #{runtime,jdbcType=OTHER},
      mileage = #{mileage,jdbcType=INTEGER}
    where time_detail_id = #{timeDetailId,jdbcType=INTEGER}
  </update>

  <delete id="deleteByTrainCode">
    delete from time_details
    where train_code = #{trainCode,jdbcType=VARCHAR}
  </delete>

  <select id="selectByTrainCode" resultType="com.dbpp.my12306.entity.TimeDetail">
    select *
    from time_details
    where train_code = #{trainCode,jdbcType=VARCHAR}
  </select>

  <select id="deleteByIndexes" resultType="java.lang.Integer">
    select del_time_details(#{trainCode},
    <foreach collection="indexes" open="array[" separator="," close="])" item="item">
      #{item}
    </foreach>
  </select>

</mapper>