<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbpp.my12306.mapper.TrainMapper" >
  <resultMap id="BaseResultMap" type="com.dbpp.my12306.entity.Train" >
    <id column="train_no" property="trainNo" jdbcType="CHAR" />
    <result column="train_kind" property="trainKind" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    train_no, train_kind, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from trains
    where train_no = #{trainNo,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from trains
    where train_no = #{trainNo,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.dbpp.my12306.entity.Train">
    insert into trains (train_no, train_kind)
    values (#{trainNo, jdbcType=CHAR}, #{trainKind,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dbpp.my12306.entity.Train" >
    <selectKey resultType="java.lang.String" keyProperty="trainNo" order="AFTER" >
      Postgres
    </selectKey>
    insert into trains
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="trainKind != null" >
        train_kind,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="trainKind != null" >
        #{trainKind,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dbpp.my12306.entity.Train" >
    update trains
    <set >
      <if test="trainKind != null" >
        train_kind = #{trainKind,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where train_no = #{trainNo,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dbpp.my12306.entity.Train" >
    update trains
    set train_kind = #{trainKind,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR}
    where train_no = #{trainNo,jdbcType=CHAR}
  </update>
</mapper>